<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.uforia.twitterAuth"
      version="0.1.0">
    <name>TwitterAuthPlugin</name>
    <description>Twitter Authentication Plugin</description>
    <license>MIT</license>
    <keywords>phonegap</keywords>
  
    <js-module src="www/TwitterAuthPlugin.js" name="TwitterAuthPlugin">
        <clobbers target="window.TwitterAuthPlugin" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        
		<config-file target="res/xml/config.xml" parent="/*">
            <feature name="TwitterAuthPlugin">
                <param name="android-package" value="com.uforia.twitterAuth.TwitterAuthPlugin"/>
            </feature>
        </config-file>
		
		<config-file target="AndroidManifest.xml" parent="/*">
			<activity
				android:name="Uforia"
				android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
				android:label="@string/app_name"
				android:launchMode="singleTask"
				android:screenOrientation="portrait"
				android:theme="@android:style/Theme.NoTitleBar">
				<intent-filter>
					<data android:scheme="com.uforia.auth" />
					<action android:name="android.intent.action.VIEW" />
				</intent-filter>
				<intent-filter>
					<action android:name="android.intent.action.VIEW" />
					<category android:name="android.intent.category.DEFAULT" />
					<category android:name="android.intent.category.BROWSABLE" />
					<data android:scheme="http" android:host="com.uforia" android:pathPattern="/twitter-access-tokens" />
				</intent-filter>
			</activity>
		</config-file>
 
        <source-file src="src/android/com/uforia/twitterAuth/TwitterAuthPlugin.java" target-dir="src/com/uforia/twitterAuth" />      		
		<source-file src="src/android/libs/twitter4j-core-4.0.4.jar" target-dir="libs" />		
     
	 </platform>          
</plugin>